<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704189744629-crerho3pjp4n05l18ad8o381am06gstt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704189744629-crerho3pjp4n05l18ad8o381am06gstt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrlQB0wBWLeZ2RckpRmgWSdHkUXF6GpCc</string>
	<key>GCM_SENDER_ID</key>
	<string>704189744629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yallactivities</string>
	<key>PROJECT_ID</key>
	<string>yalla-activities-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yalla-activities-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704189744629:ios:69bf67ca11dac84dc50cbc</string>
</dict>
</plist>